@media (max-width: 440px) { /*small screens*/
    footer .contact-us {
        flex-flow: column nowrap;
    }
    
    footer .contact-us > div {
        margin: 0 auto
    }
}


@media (min-width: 1400px) { /*large screens*/
  .first-container {
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
  }
}


@media (min-width: 600px) and (max-width: 855px){
/*medium screens*/
    .menu li {
        width: 70%;
        margin: 0 auto 20px ;
    }

}


@media (max-width: 855px){ /*phone screens*/
  
  .header-grid {
    grid-template-columns: repeat(8, 10%) 5% 5% 5% 5%;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "logo logo . . . . . .  button1 . . button2"
    "nav nav nav nav nav nav nav nav nav nav nav nav";
    align-items: center
  }
  
  #drop-button {
        display: inline-block;
  }
  
   
  .popups { 
        position: absolute; 
        flex-flow: column nowrap; 
  } 
   
  .popups div, .popups p { 
        text-align: center; 
        margin: 10px auto; 
        width: 100%; 
  } 
   
  .popups:before {left: 47%} 
   
   
    nav { 
        margin: 20px 0 0 0;
    } 
 
    nav ul { 
        width: 100%; 
        padding: 0; 
        display: flex; 
        flex-flow: row wrap; 
        justify-content: space-around 
    } 
    
    nav ul li { 
        width: 90%;
        border: 1px solid var(--textcolor); 
        border-radius: 15px; 
        text-align:center; 
        display: block; 
        padding: 10px; 
        margin: 10px auto; 
        white-space: wrap; 
        line-height: 1.3em 
    } 
     
    .projectpop, .mepop { 
        right: 0;
        width: 80%; 
    } 
     
    .projectpop {top: 280px} 
    
    .mepop {top: 215px}
     
    section { 
        height: 800px; 
        margin: 0 !important;
    } 
     
    .container section, .container aside { 
        width: 100% 
    } 
    
    .card {
        min-width: 100%;
        max-width: 100%
    }
    
    .container {
        padding: 0;
        overflow: visible;
    }
    
    .menu li:hover {
        transform: scale(1.03);
    }
    .card h2 {
        font-size: 1.4em
    }
    
    footer {
        flex-flow: column nowrap;
    }
    
    footer > div {
        width: 100%;
    }
}
